.project
sysProps.xml
.cproject

.settings/language.settings.xml

.settings/org.eclipse.cdt.managedbuilder.core.prefs

Debug/

build.xml
build.properties
CMakeLists.txt

#compiled object files
*.slo
*.lo
*.o

#compiled Dynamic libs
*.so
*.dylib

#compiled static libraries
*.lsi
*.la
*.a

.metadata
.metadata/*

# for mac finder assist file
.DS_store

# For emacs auto-save files
*~
